@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">           
                <p class="card-description"> Proje Düzenleme Paneli </p>
                <form class="forms-sample">
    <br />
    @Html.HiddenFor(x=>x.PortfolioID)
    <br />
    @Html.Label("Proje Başlığı")
    <br />
    @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    <lable> Görsel 1 </lable>
    @Html.TextBoxFor(x=>x.ImageUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ImageUrl)
    <br />
    <lable> Görsel 2 </lable>
    @Html.TextBoxFor(x=>x.ImageUrl2, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ImageUrl2)
    <br />
    <lable> Proje URL </lable>
    @Html.TextBoxFor(x=>x.ProjectUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ProjectUrl)
    <br />
    <lable> Fiyat </lable>
    @Html.TextBoxFor(x=>x.Price, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Price)
    <br />
    <lable> Tamamlanma Oranı </lable>
    @Html.TextAreaFor(x=>x.Value, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Value)
    <br />
        <lable> Platform </lable>
    @Html.TextAreaFor(x=>x.Platform, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Platform)
    <br />
    <button class="btn btn-outline-success"> Güncelle </button>
                </form>
            </div>
        </div>
    </div>
}


