@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ExperienceID)
    <br />
    @Html.Label("Deneyim Başlığı")
    <br />
    @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
    <br />
    <lable> Tarih </lable>
    @Html.TextBoxFor(x=>x.Date, new { @class = "form-control" })
    <br />
    <lable> Resim Yolu </lable>
    @Html.TextBoxFor(x=>x.ImageUrl, new { @class = "form-control" })
    <br />
    <lable> Açıklama </lable>
    @Html.TextAreaFor(x=>x.Description, 10, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-info"> Güncelle </button>
}
